In [79]:
import pandas as pd
import geopandas as gpd
from geopandas import GeoDataFrame, read_file
from shapely.geometry import Point, LineString, Polygon
import movingpandas as mpd
from fiona.crs import from_epsg
import pygtfs

In [137]:
#https://github.com/vta/GTFS-Pandas-Analysis/blob/master/gtfs_simple_analyzer.ipynb
trips = pd.read_csv('../../GTFS/bus_metro/trips.txt')
routes = pd.read_csv('../../GTFS/bus_metro/routes.txt')
st = pd.read_csv("../../GTFS/bus_metro/stop_times.txt")
stops = pd.read_csv("../../GTFS/bus_metro/stops.txt")

/Users/eudald/opt/miniconda3/envs/iper/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [80]:
#https://pygtfs.readthedocs.io/en/latest/schedule.html#module-pygtfs.schedule
sched = pygtfs.Schedule(":memory:")
pygtfs.append_feed(sched, "../../GTFS/bus_metro")

Loading GTFS data for <class 'pygtfs.gtfs_entities.Agency'>:
Loading GTFS data for <class 'pygtfs.gtfs_entities.Stop'>:
Loading GTFS data for <class 'pygtfs.gtfs_entities.Route'>:
Loading GTFS data for <class 'pygtfs.gtfs_entities.Trip'>:
Loading GTFS data for <class 'pygtfs.gtfs_entities.StopTime'>:
Loading GTFS data for <class 'pygtfs.gtfs_entities.Service'>:
Loading GTFS data for <class 'pygtfs.gtfs_entities.ServiceException'>:
Loading GTFS data for <class 'pygtfs.gtfs_entities.Fare'>:
Loading GTFS data for <class 'pygtfs.gtfs_entities.FareRule'>:
Loading GTFS data for <class 'pygtfs.gtfs_entities.ShapePoint'>:
Loading GTFS data for <class 'pygtfs.gtfs_entities.Frequency'>:
Loading GTFS data for <class 'pygtfs.gtfs_entities.Transfer'>:
Loading GTFS data for <class 'pygtfs.gtfs_entities.FeedInfo'>:
Loading GTFS data for <class 'pygtfs.gtfs_entities.Translation'>:
1 record read for <class 'pygtfs.gtfs_entities.Agency'>.
3243 records read for <class 'pygtfs.gtfs_entities.Stop'>.
111 records read for <class 'pygtfs.gtfs_entities.Route'>.
.........47971 records read for <class 'pygtfs.gtfs_entities.Trip'>.
...........................................................................................................................................................................................................................................1178784 records read for <class 'pygtfs.gtfs_entities.StopTime'>.
2 records read for <class 'pygtfs.gtfs_entities.Service'>.
....23681 records read for <class 'pygtfs.gtfs_entities.ServiceException'>.
....................103745 records read for <class 'pygtfs.gtfs_entities.ShapePoint'>.
4 records read for <class 'pygtfs.gtfs_entities.Frequency'>.
60 records read for <class 'pygtfs.gtfs_entities.Transfer'>.
1 record read for <class 'pygtfs.gtfs_entities.FeedInfo'>.
Complete.

In [154]:
stops_by_route = pd.merge(pd.merge(trips[['trip_id','route_id']],st[['trip_id','stop_id','arrival_time','stop_sequence']]),stops[['stop_id','stop_lat','stop_lon']])
stops_by_route.sort_values(by=['trip_id', 'stop_sequence'])

,trip_id,route_id,stop_id,arrival_time,stop_sequence,stop_lat,stop_lon
9365,1.101.2384461,1.101.1,1.954,05:06:28,1,41.342976,2.144964
8780,1.101.2384461,1.101.1,1.956,05:08:38,2,41.356161,2.141804
8195,1.101.2384461,1.101.1,1.957,05:10:08,3,41.361099,2.138229
7610,1.101.2384461,1.101.1,1.958,05:11:37,4,41.363137,2.132315
7025,1.101.2384461,1.101.1,1.959,05:13:13,5,41.361354,2.124100
...,...,...,...,...,...,...,...
793359,2.97.25.483751.2874,2.97.2874,2.885.687841,NaN,8,41.452107,2.188738
793720,2.97.25.483751.2874,2.97.2874,2.1778.689940,NaN,9,41.448149,2.187808
794081,2.97.25.483751.2874,2.97.2874,2.1240.675369,NaN,10,41.443041,2.186210
794442,2.97.25.483751.2874,2.97.2874,2.432.675365,NaN,11,41.435630,2.183798
849739,2.97.25.483751.2874,2.97.2874,2.872.675385,06:57:00,12,41.431628,2.183254

In [174]:
gp = stops_by_route.groupby('trip_id')

In [166]:
for name, group in gp:
    print(name)
    print(group['trip_id'])
    break

1.101.2384461
2941    1.101.2384461
4111    1.101.2384461
5281    1.101.2384461
7025    1.101.2384461
7610    1.101.2384461
8195    1.101.2384461
8780    1.101.2384461
9365    1.101.2384461
Name: trip_id, dtype: object

In [173]:
gp.get_group(name='1.101.2384487')

,trip_id,route_id,stop_id,arrival_time,stop_sequence,stop_lat,stop_lon
2982,1.101.2384487,1.101.1,1.914,05:15:40,3,41.360894,2.117993
4152,1.101.2384487,1.101.1,1.915,05:13:50,2,41.368223,2.115756
5322,1.101.2384487,1.101.1,1.916,05:12:07,1,41.376056,2.118397
7048,1.101.2384487,1.101.1,1.959,05:17:02,4,41.361354,2.124100
7633,1.101.2384487,1.101.1,1.958,05:18:35,5,41.363137,2.132315
8218,1.101.2384487,1.101.1,1.957,05:20:01,6,41.361099,2.138229
8803,1.101.2384487,1.101.1,1.956,05:21:28,7,41.356161,2.141804
9388,1.101.2384487,1.101.1,1.954,05:24:14,8,41.342976,2.144964

# Problems

## Missing 47971 --> 37171 (10.000) elements
I thing the 10.000 missing trips is due that one of its stations defined in the stops times does not have a related element in stops. Ex: stop_id in st does not exist in stops

In [158]:
# len before merging stops
stops_by_route = pd.merge(trips[['trip_id','route_id']],st[['trip_id','stop_id','arrival_time','stop_sequence']])
len(stops_by_route.groupby('trip_id'))

47971

In [159]:
# len after merging stops
stops_by_route = pd.merge(pd.merge(trips[['trip_id','route_id']],st[['trip_id','stop_id','arrival_time','stop_sequence']]),stops[['stop_id','stop_lat','stop_lon']])
len(stops_by_route.groupby('trip_id'))

37171

In [160]:
stops.loc[stops['stop_id'] == 1.14]

Empty DataFrame
Columns: [stop_id, stop_code, stop_name, stop_lat, stop_lon, stop_url, location_type, parent_station, wheelchair_boarding]
Index: []

In [161]:
st.loc[st['stop_id'] == 1.14]

           trip_id arrival_time departure_time stop_id  stop_sequence
0      1.1.2373316     07:32:32       07:32:32    1.14              1
30     1.1.2373317     17:37:08       17:37:08    1.14              1
89     1.1.2373318     19:06:52       19:06:52    1.14             30
90     1.1.2373319     09:05:48       09:05:48    1.14              1
120    1.1.2373320     16:58:49       16:58:49    1.14              1
...            ...          ...            ...     ...            ...
70864  1.1.2375695     07:28:43       07:28:43    1.14              1
70894  1.1.2375696     13:19:22       13:19:22    1.14              1
70924  1.1.2375697     18:31:08       18:31:08    1.14              1
70954  1.1.2375698     17:53:20       17:53:20    1.14              1
70984  1.1.2375699     11:42:10       11:42:10    1.14              1

[2357 rows x 5 columns]

## Some stops do not have arrival and departure time
Missing some arrival and departure times for several stops form a particular trip. 
Possible solution interpolate between the times that are defined

## Save trajactories as files? and then load them for each instance?